In [7]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Enable inline plotting for Jupyter notebooks
%matplotlib inline

In [17]:
# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

# Preview the dataset
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

#  2. The assignment> 2.1 Introduction to the dataset>p>Lets first get a good grasp of the data represented use the describe function to generate a general overview and lets set two good to have variables; the amount of samples (the samples variable) and the amount of columns/attributes (the columns variablep>

In [21]:
import pandas as pd

# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

# Assigning the first few rows to samples
samples = df.head()  # This gives the first few rows (samples) of the dataset

# Assigning the column names
columns = df.columns  # This gives the column names (features) in the dataset

# Display the samples and columns in table format
print("Samples (first few rows):")
display(samples)

print("\nColumns:")
display(pd.DataFrame(columns, columns=['Column Names']))

# Use describe() to get a summarized view of the dataset
summary = df.describe()

# Display the summary statistics in table format

print("\nSummary of the dataset:")
display(summary)

Samples (first few rows):

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Columns:

            Column Names
0          fixed acidity
1       volatile acidity
2            citric acid
3         residual sugar
4              chlorides
5    free sulfur dioxide
6   total sulfur dioxide
7                density
8                     pH
9              sulphates
10               alcohol
11               quality

Summary of the dataset:

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [23]:
import pandas as pd

# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

# Assigning the first few rows to samples (you can adjust the number of rows as needed)
samples = df.head()  # This gives the first 5 rows of the dataset

# Assigning the column names
columns = df.columns  # This gives the column names (features) in the dataset

# Count the number of samples and columns
num_samples = len(samples)  # Number of samples (rows) in the 'samples' variable
num_columns = len(columns)  # Number of columns (attributes) in the 'columns' variable

# Display the counts
print(f"Number of samples: {num_samples}")
print(f"Number of columns: {num_columns}")

Number of samples: 5
Number of columns: 12

2.2 Finding and dropping NA values >Lets now check if there are any NA values in any of our columns>

In [37]:
import pandas as pd

# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

def count_nan():
    # Total number of samples (rows) in the dataset
    total_samples = len(df)

    # For each column, calculate the percentage of missing values
    for col in df.columns:
        missing_count = df[col].isna().sum()  # Number of missing values in the column
        missing_percentage = (missing_count / total_samples) * 100  # Percentage of missing values

        # Display the result for the current column with the exact format requested
        print(f"The column {col} is missing {missing_percentage:.4f}% of data!")
        
# Call the function to display missing value percentages
count_nan()

The column fixed acidity is missing 0.0000% of data!
The column volatile acidity is missing 0.0000% of data!
The column citric acid is missing 0.0000% of data!
The column residual sugar is missing 0.0000% of data!
The column chlorides is missing 0.0000% of data!
The column free sulfur dioxide is missing 0.0000% of data!
The column total sulfur dioxide is missing 0.0000% of data!
The column density is missing 0.0000% of data!
The column pH is missing 0.0000% of data!
The column sulphates is missing 0.0000% of data!
The column alcohol is missing 0.0000% of data!
The column quality is missing 0.0000% of data!

# Next up is a bit of a tricky part; We will now identify every sample that isna but instead of summarizing we will identify the samples such that we later on can remove them. Once again use isna() but this time say all() instead of sum()! You might also need to specify the axis

In [44]:
import pandas as pd

# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

# 1. Extract all the samples that meet the criteria of isna() in any column
nan_samples = df[df.isna().any(axis=1)]  # Filters rows with any NaN values

# 2. Get the indexes for these rows
nan_indexes = nan_samples.index  # Extract the index of rows with NaN values

# 3. Drop these rows from the DataFrame
df = df.drop(nan_indexes)  # Drop the rows with NaN values from the DataFrame

# Define count_nan function to print the percentage of missing values
def count_nan():
    # Total number of samples (rows) in the dataset
    total_samples = len(df)

    # For each column, calculate the percentage of missing values
    for col in df.columns:
        missing_count = df[col].isna().sum()  # Number of missing values in the column
        missing_percentage = (missing_count / total_samples) * 100  # Percentage of missing values

        # Display the result for the current column with the exact format requested
        print(f"The column {col} is missing {missing_percentage:.1f}% of data!")

# Call the function to display missing value percentages
count_nan()

The column fixed acidity is missing 0.0% of data!
The column volatile acidity is missing 0.0% of data!
The column citric acid is missing 0.0% of data!
The column residual sugar is missing 0.0% of data!
The column chlorides is missing 0.0% of data!
The column free sulfur dioxide is missing 0.0% of data!
The column total sulfur dioxide is missing 0.0% of data!
The column density is missing 0.0% of data!
The column pH is missing 0.0% of data!
The column sulphates is missing 0.0% of data!
The column alcohol is missing 0.0% of data!
The column quality is missing 0.0% of data!

# 2.3 Filtering and reindexing>Next up we will filter the dataset by quality and then reindex the dataset>

In [51]:
import pandas as pd

# Load the wine quality dataset
df = pd.read_csv("winequality-red.csv")

# Filter the dataset by quality (examples wines with quality >= 7)
filtered_df = df[df['quality'] >= 7]

# Reindex the DataFrame
filtered_df.reset_index(drop=True, inplace=True)  # Reset index and drop the old index


display(filtered_df)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
1,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
2,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
3,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
4,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
212,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
213,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
214,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
215,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
216,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

# 2.4 Transforming the data>Lastly as part of the assignment we will be transforming and normalizing the data values. In Exercise 3c you saw how to perform this for one column, here we will recreate it but for all the columns that can benefit from it (which truth be told is all of them). The solutions is also a bit different so you cant fully copy paste. In short; the objective is to normalize each column in the dataframe. Hint; Check out the pandas docs for an idea of how to use apply at the df[column] part>

In [94]:
import pandas as pd

# Load the dataset
df = pd.read_csv("winequality-red.csv")

# Function to normalize the column values
def normalize_values(col_value, min_val, max_val):
    normalized_val = (col_value - min_val) / (max_val - min_val)
    return normalized_val

# Main function to normalize the entire dataset
def main():
    for column in df.columns:
        min_val = df[column].min()  # Get the minimum value of the column
        max_val = df[column].max()  # Get the maximum value of the column
        df[column] = df[column].apply(lambda x: normalize_values(x, min_val, max_val))  # Apply normalization

# Call the main function to normalize the dataset
main()

# Display the normalized dataset summary
print("Normalized dataset summary:")
display(df.describe())

Normalized dataset summary:

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,0.329171,0.279329,0.270976,0.112247,0.125988,0.209506,0.142996,0.490211,0.449695,0.196496,0.311228,0.527205
std,0.154079,0.122644,0.194801,0.096570,0.078573,0.147326,0.116238,0.138571,0.121564,0.101501,0.163949,0.161514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.221239,0.184932,0.090000,0.068493,0.096828,0.084507,0.056537,0.406021,0.370079,0.131737,0.169231,0.400000
50%,0.292035,0.273973,0.260000,0.089041,0.111853,0.183099,0.113074,0.490455,0.448819,0.173653,0.276923,0.600000
75%,0.407080,0.356164,0.420000,0.116438,0.130217,0.281690,0.197880,0.570117,0.519685,0.239521,0.415385,0.600000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000